html,body,#app{height:100%}
body{margin:0;font-family:system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue",Arial;}
/* ajout temporaire pour debug */
#app{display:flex;align-items:center;justify-content:center;padding:16px}